<extends src='layout.html'>
  <block name='content'>

  <section class='hero'>
    <h1>Hello! I'm Chris Wynn A Creative Front End Developer Based Out of Providence, Rhode Island</h1>
  </section>

  <section class='projects'>
    <h1>Projects</h1>
    <div class='project-container'>
      <each loop='project in dato.project'>
        <a href={{project.slug}} class='project'>
          <div class='overlay'></div>
          <div class='project-title'>
            <h2>{{ project.title }}</h2>
            <small>{{ project.tag }}</small>
          </div>
        </a>
      </each>
    </div>
  </section>
  </block>
</extends>

