<extends src='layout.html'>
  <block name='content'>
    <section class='hero'>
      <h1>Hello! I'm Chris Wynn A Creative Front End Developer / Designer</h1>
    </section>
    <section class='projects'>
      <h1>Projects</h1>
      <div class='project-container'>
        <each loop='project in dato.project'>
          <div class='project-wrapper'>
          <a href={{`/${project.slug}.html`}} class='project' style='background-image:url({{`https://www.datocms-assets.com${project.thumbnail.path}`}})'>
            <div class='overlay'></div>
            <div class='project-title'>
              <h2>{{ project.title }}</h2>
              <small>{{ project.tag }}</small>
            </div>
          </a>
          </div>
        </each>
      </div>
    </section>
    <footer>
      <a href='https://github.com/chriswynn' class='icon'>
        <img src='./images/github.svg'/>
      </a>
      <a href='#' class='icon'>
        <img src='./images/gmail.svg'/>
      </a>
      <a href='https://twitter.com/popspheres' class='icon'>
        <img src='./images/twitter.svg'/>
      </a>
      <a href='https://codepen.io/Chriswynn/' class='icon'>
        <img src='./images/codepen.svg'/>
      </a>
    </footer>
  </block>
</extends>
