header
  background: black
  height: 100vh
  left: 0
  position: fixed
  top: 0
  width: 15%

section
  border-bottom: 2px solid black
  margin-left: 15%
  min-height: 500px
  width: 85%

#color-picker
  background: #454545
  cursor: pointer
  filter: blur(15px)
  height: 100vh
  overflow: hidden
  position: fixed
  right: 0
  width: 20px

.Scp
  position: absolute
  right: 0
