@import url("https://fast.fonts.net/t/1.css?apiType=css&projectid=010f52f0-502f-481a-aa61-b3b135ada413")

@font-face
  font-family: 'Quire Sans W01 Regular'
  src: url("../fonts/3f336c40-b8f6-4978-8bbf-b1f5b3e8977f.eot?#iefix")
  src: url("../fonts/3f336c40-b8f6-4978-8bbf-b1f5b3e8977f.eot?#iefix") format("eot"),url("../fonts/0d3131c1-0703-4143-af94-ea35113723d9.woff2") format("woff2"),url("../fonts/48b1f64a-1766-4227-a4f9-78ef33e1a83c.woff") format("woff"),url("../fonts/58347d6a-47e8-41a1-b858-fe325658bde4.ttf") format("truetype"),url("../fonts/fece890d-cb22-4ba1-b9fc-effc3906fa69.svg#fece890d-cb22-4ba1-b9fc-effc3906fa69") format("svg")

@font-face
  font-family: 'Quire Sans W01 Semi Bold'
  src: url("../../fonts/d1dfa253-463a-45e4-b7ff-5ef6f615656f.eot?#iefix")
  src: url("../fonts/d1dfa253-463a-45e4-b7ff-5ef6f615656f.eot?#iefix") format("eot"),url("../fonts/13185416-042b-48db-aa7e-2785fa4d4368.woff2") format("woff2"),url("../fonts/a2404b2b-7d3c-4b8d-9d3b-35950b2f1d6f.woff") format("woff"),url("../fonts/acb2d5fd-9b30-4b03-ab0b-faf2f93523fc.ttf") format("truetype"),url("../fonts/7eccf00e-ea12-4e08-a8a7-d4e67bbb0bf8.svg#7eccf00e-ea12-4e08-a8a7-d4e67bbb0bf8") format("svg")

h1, h2, h3, h4
  color: #fff
  font-family: 'Quire Sans W01 Semi Bold'

h1
  font-size: 10rem
  margin: 0

p
  font-family: 'Quire Sans W01 Regular'
  font-size: 2rem
